<a href="https://colab.research.google.com/github/RakeshSharma21/Sessions_Notebook/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loading the data

In [1]:
import pandas as pd
telco_churn_df = pd.read_csv('telco_churn.csv')

In [3]:
telco_churn_df.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,False,True,False,1,False,NaN,DSL,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000381469727,False
1,1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.1500015258789,True
3,3,7795-CFOCW,Male,False,False,False,45,False,NaN,DSL,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.75,False
4,4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.64999389648438,True

In [4]:
telco_churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5043 non-null   int64
 1   customerID        5043 non-null   object
 2   gender            5043 non-null   object
 3   SeniorCitizen     5043 non-null   object
 4   Partner           5043 non-null   object
 5   Dependents        5043 non-null   object
 6   tenure            5043 non-null   int64
 7   PhoneService      5043 non-null   object
 8   MultipleLines     4774 non-null   object
 9   InternetService   5043 non-null   object
 10  OnlineSecurity    4392 non-null   object
 11  OnlineBackup      4392 non-null   object
 12  DeviceProtection  4392 non-null   object
 13  TechSupport       4392 non-null   object
 14  StreamingTV       4392 non-null   object
 15  StreamingMovies   4392 non-null   object
 16  Contract          5043 non-null   object
 17  PaperlessBilling  5043 non-null   object
 18  PaymentMethod     5043 non-null   object
 19  MonthlyCharges    5043 non-null   float64
 20  TotalCharges      5038 non-null   object
 21  Churn             5042 non-null   object
dtypes: float64(1), int64(2), object(19)
memory usage: 866.9+ KB

In [6]:
telco_churn_df['Churn'].value_counts()

Churn
False    2219
No       1487
True      780
Yes       556
Name: count, dtype: int64

## Preprocessing on Data

In [9]:
# prompt: convert all the False values in the Churn field to No and all the True values in churn Field to Yes

telco_churn_df['Churn'] = telco_churn_df['Churn'].replace({"False": 'No', "True": 'Yes'})

In [10]:
telco_churn_df['Churn'].value_counts()

Churn
No     3706
Yes    1336
Name: count, dtype: int64

In [11]:
# prompt: convert all the Yes to 1 and all the No to 0 in Churn field

telco_churn_df['Churn'] = telco_churn_df['Churn'].replace({'Yes':'1', 'No':0})
telco_churn_df['Churn'].value_counts()

<ipython-input-11-7432394c4ad9>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  telco_churn_df['Churn'] = telco_churn_df['Churn'].replace({'Yes':1, 'No':0})

Churn
0.0    3706
1.0    1336
Name: count, dtype: int64

In [ ]:
## Drop some Unneccessary columns Unnamed: 0,customerID

In [12]:
# prompt: drop Unnamed: 0,customerID from the telco_churn_df dataframe

telco_churn_df = telco_churn_df.drop(['Unnamed: 0', 'customerID'], axis=1)

In [13]:
telco_churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5043 non-null   object
 1   SeniorCitizen     5043 non-null   object
 2   Partner           5043 non-null   object
 3   Dependents        5043 non-null   object
 4   tenure            5043 non-null   int64
 5   PhoneService      5043 non-null   object
 6   MultipleLines     4774 non-null   object
 7   InternetService   5043 non-null   object
 8   OnlineSecurity    4392 non-null   object
 9   OnlineBackup      4392 non-null   object
 10  DeviceProtection  4392 non-null   object
 11  TechSupport       4392 non-null   object
 12  StreamingTV       4392 non-null   object
 13  StreamingMovies   4392 non-null   object
 14  Contract          5043 non-null   object
 15  PaperlessBilling  5043 non-null   object
 16  PaymentMethod     5043 non-null   object
 17  MonthlyCharges    5043 non-null   float64
 18  TotalCharges      5038 non-null   object
 19  Churn             5042 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 788.1+ KB

In [18]:
telco_churn_df['StreamingTV'].value_counts()

StreamingTV
No                     2018
Yes                    1945
No internet service     429
Name: count, dtype: int64

In [17]:
# prompt: convert all the False values in the telco_churn_df to No and all the True values in telco_churn_df to Yes

# Convert boolean values to 'Yes' and 'No' strings
telco_churn_df = telco_churn_df.replace({"False": 'No', "True": 'Yes'})

In [19]:
telco_churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5043 non-null   object
 1   SeniorCitizen     5043 non-null   object
 2   Partner           5043 non-null   object
 3   Dependents        5043 non-null   object
 4   tenure            5043 non-null   int64
 5   PhoneService      5043 non-null   object
 6   MultipleLines     4774 non-null   object
 7   InternetService   5043 non-null   object
 8   OnlineSecurity    4392 non-null   object
 9   OnlineBackup      4392 non-null   object
 10  DeviceProtection  4392 non-null   object
 11  TechSupport       4392 non-null   object
 12  StreamingTV       4392 non-null   object
 13  StreamingMovies   4392 non-null   object
 14  Contract          5043 non-null   object
 15  PaperlessBilling  5043 non-null   object
 16  PaymentMethod     5043 non-null   object
 17  MonthlyCharges    5043 non-null   float64
 18  TotalCharges      5038 non-null   object
 19  Churn             5042 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 788.1+ KB

In [20]:
# prompt: replace the missing values in the entire dataframe with Unknown

# Replace missing values with 'Unknown'
telco_churn_df = telco_churn_df.fillna('Unknown')

In [21]:
telco_churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5043 non-null   object
 1   SeniorCitizen     5043 non-null   object
 2   Partner           5043 non-null   object
 3   Dependents        5043 non-null   object
 4   tenure            5043 non-null   int64
 5   PhoneService      5043 non-null   object
 6   MultipleLines     5043 non-null   object
 7   InternetService   5043 non-null   object
 8   OnlineSecurity    5043 non-null   object
 9   OnlineBackup      5043 non-null   object
 10  DeviceProtection  5043 non-null   object
 11  TechSupport       5043 non-null   object
 12  StreamingTV       5043 non-null   object
 13  StreamingMovies   5043 non-null   object
 14  Contract          5043 non-null   object
 15  PaperlessBilling  5043 non-null   object
 16  PaymentMethod     5043 non-null   object
 17  MonthlyCharges    5043 non-null   float64
 18  TotalCharges      5043 non-null   object
 19  Churn             5043 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 788.1+ KB

In [25]:
# prompt: convert TotalCharges to float datatype

# Convert 'TotalCharges' to numeric, coercing errors to NaN
telco_churn_df['TotalCharges'] = pd.to_numeric(telco_churn_df['TotalCharges'], errors='coerce')

# Fill NaN values in 'TotalCharges' (if any)
telco_churn_df['TotalCharges'] = telco_churn_df['TotalCharges'].fillna(0)

telco_churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            5043 non-null   object
 1   SeniorCitizen     5043 non-null   object
 2   Partner           5043 non-null   object
 3   Dependents        5043 non-null   object
 4   tenure            5043 non-null   int64
 5   PhoneService      5043 non-null   object
 6   MultipleLines     5043 non-null   object
 7   InternetService   5043 non-null   object
 8   OnlineSecurity    5043 non-null   object
 9   OnlineBackup      5043 non-null   object
 10  DeviceProtection  5043 non-null   object
 11  TechSupport       5043 non-null   object
 12  StreamingTV       5043 non-null   object
 13  StreamingMovies   5043 non-null   object
 14  Contract          5043 non-null   object
 15  PaperlessBilling  5043 non-null   object
 16  PaymentMethod     5043 non-null   object
 17  MonthlyCharges    5043 non-null   float64
 18  TotalCharges      5043 non-null   float64
 19  Churn             5043 non-null   object
dtypes: float64(2), int64(1), object(17)
memory usage: 788.1+ KB

In [44]:
telco_churn_df['Churn'].value_counts()

Churn
0.0        3706
1.0        1336
Unknown       1
Name: count, dtype: int64

In [45]:
# prompt: drop the values Unknown for the Churn field

# Drop rows where 'Churn' is 'Unknown'
telco_churn_df = telco_churn_df[telco_churn_df['Churn'] != 'Unknown']
telco_churn_df['Churn'].value_counts()

Churn
0.0    3706
1.0    1336
Name: count, dtype: int64

In [46]:

X = telco_churn_df.drop('Churn', axis=1)
y = telco_churn_df['Churn']

In [36]:
# prompt: convert y variable to the categorical values

y = y.astype('category')

In [47]:
telco_churn_clean_df = pd.get_dummies(X,drop_first=True)

In [48]:
telco_churn_clean_df.columns

Index(['tenure', 'MonthlyCharges', 'TotalCharges', 'gender_Male',
       'SeniorCitizen_1', 'SeniorCitizen_No', 'SeniorCitizen_Yes',
       'Partner_Yes', 'Dependents_Yes', 'PhoneService_Yes',
       'MultipleLines_No phone service', 'MultipleLines_Unknown',
       'MultipleLines_Yes', 'InternetService_Fiber optic',
       'InternetService_No', 'OnlineSecurity_No internet service',
       'OnlineSecurity_Unknown', 'OnlineSecurity_Yes',
       'OnlineBackup_No internet service', 'OnlineBackup_Unknown',
       'OnlineBackup_Yes', 'DeviceProtection_No internet service',
       'DeviceProtection_Unknown', 'DeviceProtection_Yes',
       'TechSupport_No internet service', 'TechSupport_Unknown',
       'TechSupport_Yes', 'StreamingTV_No internet service',
       'StreamingTV_Unknown', 'StreamingTV_Yes',
       'StreamingMovies_No internet service', 'StreamingMovies_Unknown',
       'StreamingMovies_Yes', 'Contract_One year', 'Contract_Two year',
       'PaperlessBilling_Yes', 'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [49]:
### splitting the dataset
# Split data into features and labels
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(telco_churn_clean_df, y, test_size=0.2, random_state=42)

In [50]:
# prompt: remove the value with Unknown in y variable

y = y[y != 'Unknown']

In [51]:
print(f"Training samples: {X_train.shape[0]}")
print(f"Testing samples: {X_test.shape[0]}")

Training samples: 4033
Testing samples: 1009

### Training the random forest model

In [52]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [53]:
# Instantiate Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42, max_depth=10)

# Train the model
rf_model.fit(X_train, y_train)

# Predict on the test set
y_pred = rf_model.predict(X_test)

# Evaluate the model
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))
print("\nAccuracy Score:")
print(accuracy_score(y_test, y_pred))

ValueError: Unknown label type: unknown. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [54]:
# prompt: resolve the following error from the data ValueError: Unknown label type: unknown. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# ## Loading the data
telco_churn_df = pd.read_csv('telco_churn.csv')

# ## Preprocessing on Data
telco_churn_df['Churn'] = telco_churn_df['Churn'].replace({"False": 'No', "True": 'Yes'})
telco_churn_df['Churn'] = telco_churn_df['Churn'].replace({'Yes':'1', 'No':'0'}) # changed '1' to '0'

## Drop some Unneccessary columns Unnamed: 0,customerID
telco_churn_df = telco_churn_df.drop(['Unnamed: 0', 'customerID'], axis=1)

# Convert boolean values to 'Yes' and 'No' strings
telco_churn_df = telco_churn_df.replace({"False": 'No', "True": 'Yes'})

# Replace missing values with 'Unknown'
telco_churn_df = telco_churn_df.fillna('Unknown')

# Convert 'TotalCharges' to numeric, coercing errors to NaN
telco_churn_df['TotalCharges'] = pd.to_numeric(telco_churn_df['TotalCharges'], errors='coerce')

# Fill NaN values in 'TotalCharges' (if any)
telco_churn_df['TotalCharges'] = telco_churn_df['TotalCharges'].fillna(0)

# Drop rows where 'Churn' is 'Unknown'
telco_churn_df = telco_churn_df[telco_churn_df['Churn'] != 'Unknown']

X = telco_churn_df.drop('Churn', axis=1)
y = telco_churn_df['Churn']

# Convert 'Churn' to numeric
y = pd.to_numeric(y)

telco_churn_clean_df = pd.get_dummies(X,drop_first=True)

### splitting the dataset
# Split data into features and labels
X_train, X_test, y_train, y_test = train_test_split(telco_churn_clean_df, y, test_size=0.2, random_state=42)

# ### Training the random forest model
# Instantiate Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42, max_depth=10)

# Train the model
rf_model.fit(X_train, y_train)

# Predict on the test set
y_pred = rf_model.predict(X_test)

# Evaluate the model
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))
print("\nAccuracy Score:")
print(accuracy_score(y_test, y_pred))

Confusion Matrix:
[[685  74]
 [103 147]]

Classification Report:
              precision    recall  f1-score   support

           0       0.87      0.90      0.89       759
           1       0.67      0.59      0.62       250

    accuracy                           0.82      1009
   macro avg       0.77      0.75      0.75      1009
weighted avg       0.82      0.82      0.82      1009


Accuracy Score:
0.8245787908820614

In [62]:
import numpy as np
# Extract feature importances
importances = rf_model.feature_importances_
feature_names = telco_churn_clean_df.columns

# Create a sorted list of features by importance
sorted_indices = np.argsort(importances)[::-1]
for i in sorted_indices[:10]:
    print(f"{feature_names[i]}: {importances[i]:.2}")

tenure: 0.16
TotalCharges: 0.15
MonthlyCharges: 0.13
InternetService_Fiber optic: 0.08
Contract_Two year: 0.069
PaymentMethod_Electronic check: 0.042
OnlineSecurity_Yes: 0.031
Contract_One year: 0.03
TechSupport_Yes: 0.03
PaperlessBilling_Yes: 0.026

In [60]:
feature_names

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges'],
      dtype='object')